@import url(https://kit.fontawesome.com/fecd4563f7.js);

.section {
  padding: 0 20px;
}

.add {
  background-color: #04BA56;
  color: white;
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  bottom: 25px;
  right: 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}

.bloco {
  background: white;
  max-width: 600px;
  padding: 20px 30px;
  text-align: center;
  border-radius: 5px;
  margin: 30px auto 0 auto;
  font-size: 24px;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.2);
}

.bloco p {
  font-size: 18px;
  text-align: left;
}

.bloco h3 {
  margin-bottom: 20px;
}

.check {
  font-size: 16px;
  margin-right: 10px;
  color: #04BA56;
}

.times {
  font-size: 16px;
  margin-right: 10px;
  color: #ba0404;
}

.iconGroup {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tarefa {
  display: flex;
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.popup {
  background: rgba(0,0,0,0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.blocoForm {
  background: white;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.15);
}

.blocoForm h3 {
  font-size: 24px;
}

.blocoForm input {
  margin: 20px 0;
  font-size: 16px;
  height: 30px;
}

.blocoForm button {
  font-size: 16px;
  border: none;
  background: #04BA56;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.trash {
  color: #202020;
  font-size: 16px;
  cursor: pointer;
}